extends ./themes/dash.pug

block head
    title #{pageTitle} | Mongoose Mailer

block content
    table.table.table-hover
        thead 
            tr.text-align-center
                th(scope="col") Title
                th(scope="col") Date
                th(scope="col") Live
                th(scope="col") Notifications
        tbody
            for email in emails
                tr(scope="row")
                    td=email.post._frontmatter.title
                    td=moment(email.createdAt).format('HH:mma DD/MM/YYYY')
                    pre #{email}
                    if email.status == 'uploaded'
                        td #[a(href=`https://amongoose.com/posts/${email.fileName}`) #[button.btn.btn-outline-success.btn-sm Live]]
                    else if email.status == 'uploading'
                        td #[button.btn.btn-outline-warning.btn-sm.disabled Uploading]
                    else if email.status == 'not uploaded'
                        td #[button.btn.btn-outline-primary.btn-sm.disabled Not uploaded]
                    
                    if email.sentNotifications.length > 0
                        td #[button.btn.btn-outline-success.btn-sm Sent]
                    else
                        td #[button.btn.btn-outline-secondary.btn-sm.disabled Not sent]
                    td #[a(href=`inbox/${email.fileName}`) Details]